@import url("../../styles/variables.css"); 

#checkboxs-content {
    margin: 2rem 1rem;
    max-width: 30rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.checkbox-content{
    margin-top: 1rem;
}