header{
    width: 100%;
    height: 4rem;
    background: var(--gray);
    padding-left: 15rem;
}

#drawer{
    width: 15rem;
    height: 4rem;
    background-color: var(--secondary);
    transition: height 0.3s ease;
    position: fixed;
}

.user-image{
    height: 3rem;
    border-radius: 1rem;
}
.user-content{
    align-items: center;
    display: flex;
    padding: 0.2rem;
    margin: 0.2rem;
    color:var(--white);
}

#drawer:hover{
    height: 100vh;
}

@media(max-width:425px) {
    #drawer{
        width: 100%;
        height: 5rem;
    }       
}