:root {
    /* Variáveis das cores */
    --primary: #00D480;
    --secondary: #07438C;
    --text-color: #495057;
    --gray: #CECECE;
    --black: #000000;
    --background: #FFFFFF;
    --red: #FE0135;


    /* Tamanho das Fontes */
    --sm1-font: 10.83px;
    --sm2-font: 13px;
    --md1-font: 15.6px;
    --md2-font: 18.72px;
    --lg3-font: 22.46px;
    --lg3-font: 26.96px;
}
